body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title-container{
  display: flex;
  justify-content: center;
}
.registration-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-card{
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chip-container{
  max-width: 550px;
}
footer{
  margin-top: auto;
}
